<h1>Edit Profile</h1>

<form action = '/users/<%= @profile.id %>/update' method = 'post'>
	<input name= "authenticity_token" value = "<% form_authenticity_token %>" type = "hidden">
	<input type='hidden' name='_method' value='patch'>
	<p>Name:<input type = "text" name = "name" value="<%= @profile.name%>"></p>
	<p>Alias:<input type = "text" name = "alias" value="<%= @profile.alias%>"></p>
	<p>Email:<input type = "text" name = "email" value="<%= @profile.email%>"></p>
	<p>Street:<input type = "text" name = "street"value="<%= @profile.street%>"></p>
	<p>City:<input type = "text" name = "city" value="<%= @profile.city%>"></p>
	<p>State:<input type = "text" name = "state"value="<%= @profile.state%>"></p>
	<p><input type = "hidden" name = "user[latitude]" ></p>
	<p><input type = "hidden" name = "user[longitude]" ></p>
	<p><input type = "submit" value = "Submit" class="butts">
</form>
<h3> Lanuages I'm Learning</h3>
	<% @languages.each do | x | %>
		<% if @profile.languages.include?(x) %>
			<p><%= x.lang_name %> <a href= "/languages/<%= x.id %>" data-method='delete'>Finished!</a></p>
		<% end %>	
	<% end %>
<h3>Learning More Languages</h3>
<form action = '/languages/<%= @profile.id %>/update' method = 'post'>
	<input name= "authenticity_token" value = "<% form_authenticity_token %>" type = "hidden">
	<input type='hidden' name='_method' value='patch'>
	<% @languages.each do | x | %>
		<% if @profile.languages.exclude?(x) %>
			<p><input type = "checkbox" name="language[]" value="<%= x.id %>" ><%= x.lang_name %></p>
		<% end %>	
	<% end %>
	<p><input type = "submit" value = "Add Language" class="butts">
</form>

<form action="/users/<%= @profile.id %>" method="post">
	<input name = "authenticity_token" value="<%= form_authenticity_token%>" type ="hidden">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Account" class="butts">
</form>
<br>
<a href="/dashboard/<%= @profile.id %>">Back</a>


