<h1>Edit Profile</h1>

<form action = '/users/<%= @profile.id %>/update' method = 'post'>
	<input name= "authenticity_token" value = "<% form_authenticity_token %>" type = "hidden">
	<input type='hidden' name='_method' value='patch'>
	<p>Name:<input type = "text" name = "name" value="<%= @profile.name%>"></p>
	<p>Alias:<input type = "text" name = "alias" value="<%= @profile.alias%>"></p>
	<p>Email:<input type = "text" name = "email" value="<%= @profile.email%>"></p>
	<p>Street:<input type = "text" name = "street"value="<%= @profile.street%>"></p>
	<p>City:<input type = "text" name = "city" value="<%= @profile.city%>"></p>
	<p>State:<input type = "text" name = "state"value="<%= @profile.state%>"></p>
	<p><input type = "hidden" name = "user[latitude]" ></p>
	<p><input type = "hidden" name = "user[longitude]" ></p>
	
	<p><input type = "submit" value = "Submit" class="butts">
</form>

<form action="/users/<%= @profile.id %>" method="post">
	<input name = "authenticity_token" value="<%= form_authenticity_token%>" type ="hidden">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Account" class="butts">
</form>
<br>
<a href="/dashboard/<%= @profile.id %>">Back</a>