<div class="container">
	<h1>Edit Profile</h1>
	<div class="col-md-4">
		<form role="form" action='/users/<%= @profile.id %>/update' method='post'>
			<input name= "authenticity_token" value = "<% form_authenticity_token %>" type = "hidden">
			<input type='hidden' name='_method' value='patch'>
			<div class="form-group">
				<label for="name">Name:</label>
		    	<input type="text" class="form-control" id="name" name="user[name]"value="<%= @profile.name%>">
			</div>
			<div class="form-group">
				<label for="name">Alias:</label>
		    	<input type="text" class="form-control" id="alias" name="user[alias]"value="<%= @profile.alias%>">
			</div>
			<div class="form-group">
				<label for="name">Email:</label>
		    	<input type="email" class="form-control" id="email" name="user[email]"value="<%= @profile.email%>">
			</div>
			<div class="form-group">
				<label for="name">Street:</label>
		    	<input type="text" class="form-control" id="street" name="user[street]"value="<%= @profile.street%>">
			</div>
			<div class="form-group">
				<label for="name">City:</label>
		    	<input type="text" class="form-control" id="city" name="user[city]"value="<%= @profile.city%>">
			</div>
			<div class="form-group">
				<label for="name">State:</label>
		    	<input type="text" class="form-control" id="state" name="user[state]"value="<%= @profile.state%>">
			</div>
			<input type = "hidden" name = "user[latitude]" >
			<input type = "hidden" name = "user[longitude]" >
			<input type = "submit" value = "Submit" class="butts">
		</form>
		<br>
		<br>
		<form action="/users/<%= @profile.id %>" method="post">
			<input name = "authenticity_token" value="<%= form_authenticity_token%>" type ="hidden">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete Account" class="butts">
		</form>
	</div>
	
	<div class="col-md-4" id="edit_languages">
		<h3>Learning More Languages</h3>
		<form action = '/languages/<%= @profile.id %>/update' method = 'post'>
			<input name= "authenticity_token" value = "<% form_authenticity_token %>" type = "hidden">
			<input type='hidden' name='_method' value='patch'>
			<% @languages.each do | x | %>
				<ul>
					<% if @profile.languages.exclude?(x) %>
						<li><input type = "checkbox" name="language[]" value="<%= x.id %>" ><%= x.lang_name %></li>
					<% end %>
				</ul>
			<% end %>	
			<input type = "submit" value = "Add Language" class="butts">
		</form>
	</div>
	<div class="col-md-4" id="edit_languages">
		<h3>Learning More Languages</h3>
		<div class="table-responsive">
		 	<table class="table">
			    <thead>
			      <tr>
			      </tr>
			    </thead>
			    <tbody>
			      	<% @languages.each do | x | %>
						<% if @profile.languages.include?(x) %>
							<tr>
								<td><%= x.lang_name %></td>
								<td><a href= "/languages/<%= x.id %>" data-method='delete' class="butts">Finished!</a></td>
							</tr>
						<% end %>	
					<% end %>
			    </tbody>
		  	</table>
		</div>
	</div>

	<%= flash[:admin_error] %>

</div>
